.menu {
    border: 1px groove rgb(47, 47, 47);
    transition: .2s linear;
    border-radius: 15px;
    text-align: center;
    background-image: url("fonchik.png");
    background-size: 50%;
    padding-top: 12px;
    padding-bottom: 12px;
}

.noCurrent {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background: #474747;
    min-width: 150px;
    padding: 20px 30px;
    margin: 15px;
    border-radius: 10px;
    transition: .1s linear;
}

.noCurrent:hover {
    box-shadow: 500px 0 0 0 rgba(47, 47, 47, 0.3) inset;
}

.current {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    min-width: 150px;
    padding: 20px 30px;
    margin: 15px;
    border-radius: 10px;
    transition: .1s linear;
    background: #4471ad;
}

.current:hover {
    box-shadow: 500px 0 0 0 rgba(47, 47, 47, 0.3) inset;
}

h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #4471ad;
    background-clip: border-box;
    border-radius: 20px;
    padding: 7px 7px;
    color: rgb(47, 47, 47);
    max-width: 700px;
}
h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-clip: border-box;
    border-radius: 5px;
    padding: 7px 7px;
    color: rgb(47, 47, 47);
    max-width: 700px;
}

h3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #474747;
    background-clip: border-box;
    border-radius: 15px;
    padding: 7px 7px;
    color: white;
    max-width: 500px;
}
h4 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-clip: border-box;
    border-radius: 3px;
    padding: 5px 5px;
    max-width: 700px;
}

.bmw {
    margin-top: 40px;
}
