@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body {
    background: linear-gradient(180deg, rgba(100,133,158,1) 0%, rgba(45,75,119,1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
}

.main-header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    background-color: #232b45;
    border-radius: 0 0 15px 15px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

.main-wrapper {
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

.cover {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover__background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 20vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    text-decoration: none;
    outline: none;

    background-image: url("../images/mainLogo.jpg");
}

.cover__background::before {
    content: "";
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.4);
    transition: background-color 0.3s ease;
}

.cover__background:hover::before {
    content: "";
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
    z-index: 1;
    display: flex;
    color: #f0f0f0;
    text-align: center;
    font-family: "Inter";
    font-size: 3rem;
    font-weight: 600;
}

.main-header__nav-bar {
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.main-header__nav-link {
    padding: 10px 0;
    width: 100%;
    color: white;
    font-family: "Inter";
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    background-color: #303852;
    border-radius: 0 0 15px 15px;
    margin: 0 10px;
}

.main-header__nav-link_active {
    background-color: #4D556F;
}

.main-header__nav-link:last-child {
    margin:  0 0 0 10px;
}

.main-header__nav-link:first-child {
    margin:  0 10px 0 0;
} 

.main-header__nav-link:hover {
    transform: translateY(10px);
}

.main-wrapper {
    margin-top: 30px;
    border-radius: 15px;
    background-color: #232b45;
    box-sizing: border-box;
    font-size: 13px;
    width: 100%;
    padding: 20px;
    font-family: "Inter";
    color: #f0f0f0;
}

.page-title {
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.text-block {
    font-size: 18px;
}

.picture-block {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    text-decoration: none;
    color: white;
}

.picture-block__image {
  border-radius: 4px;
  max-width: 80%;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
}

.picture-block__caption {
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    max-width: 30vw;
}

.image_l {
    max-width: 30vw;
    max-height: 50vh;
}

.standart-table {
    background-image: url(../images/table-background.jpg);
    background-position: center;
    background-size: cover;
    border: none;
    border-collapse: collapse;
    font-size: 16px;
}

.standart-table tr {
    outline: none;
}

.row-odd {

}

.row-even {
    background-color: rgba(255, 255, 255, 0.1);
}

.feedback-form, .reg-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 20%;
    border: 1px rgba(255, 255, 255, 0.3) solid;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
}

.feedback-form__textarea {
    background-color: #3d455f;
    outline: none;
    border: none;
    color: #f0f0f0;
    font-size: 16px;
    padding: 10px;
    font-family: "Inter";
    resize: none;
}

.feedback-form__label {
    font-size: 20px;
    margin-bottom: 10px;
}

.feedback-form__submit-button, .reg-form__submit-button {
    border-radius: 5px;
    border:none;
    background-color: #4D556F;
    color: #f0f0f0;
    font-size: 20px;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    transition: background 0.2s ease;
}

.feedback-form__submit-button:hover {
    background-color: #5D657F;
    cursor: pointer;
}

.feedback-form__view-feedback-link, .link, .reg-form__view-data-link, .section-link{
    color: white;
    margin-top: 5px;
    text-align: right;
}

.tactical-char-list {
    list-style-type: none;
    font-size: 18px;
}

.reg-form {
    margin: 30px auto;
}

.reg-form__one-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.reg-form__input-title {
    font-family: "Inter";
    font-size: 16px;
}

.reg-form__input {
    font-family: "Inter";
    outline: none;
    border:none;
    padding: 10px;
    border-radius: 5px;
    background-color: #3d455f;
    color: white;
    font-size: 16px;
}

.page-title__signup {
    text-align: center;
    margin: 10px auto;
}

.contents {
    font-size: 30px;
    font-family: "Inter";
    font-weight: 600;
}

.contents-link {
    font-size: 16px;
    color: white;
}